@font-face {
  font-family: 'counterflowai';
  src: url('/ui/themes/opnids/build/fonts/counterflowai.eot');
}
@font-face {
  font-family: 'counterflowai';
  src: url('/ui/themes/opnids/build/fonts/counterflowai.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^='cfai-'],
[class*=' cfai-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'counterflowai' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cfai-ids-mle:before {
  content: "\e900";
}

// START OF CUSTOM CSS
* {
  -webkit-font-smoothing: antialiased;
}

$colors: (
  green: #ff0135,
  orange: #d94700,
  lightgrey: #f7f7f7,
  lightergrey: #fbfbfb,
  darkgrey: #3c3c3b,
  black: #000,
  bordergrey: #888,
  white: #ffffff,
);

$primaryColor: #ff0135;
$menuColor: #2e2e2e;
$backgroundColor: #ffffff; // #f9f8f8
$white: #ffffff;

$zindex: (
  header: 2,
  footer: 2,
  main: 1,
  sidebar: 3,
);

@font-face {
  font-family: 'Open Sans Bold';
  src: url('/ui/themes/opnids/build/fonts/OpenSans-Bold/OpenSans-Bold-webfont.woff') format('woff'),
    url('/ui/themes/opnids/build/fonts/OpenSans-Bold/OpenSans-Bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('/ui/themes/opnids/build/fonts/OpenSans-Semibold/OpenSans-Semibold-webfont.woff') format('woff'),
    url('/ui/themes/opnids/build/fonts/OpenSans-Semibold/OpenSans-Semibold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/ui/themes/opnids/build/fonts/OpenSans-Regular/OpenSans-Regular-webfont.woff') format('woff'),
    url('/ui/themes/opnids/build/fonts/OpenSans-Regular/OpenSans-Regular-webfont.ttf') format('truetype');
}

// Core variables and mixins
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// Reset and dependencies
@import 'bootstrap/normalize';
@import 'bootstrap/print';
@import 'bootstrap/glyphicons';

// Core CSS
@import 'bootstrap/scaffolding';
@import 'bootstrap/type';
@import 'bootstrap/code';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';

// Components
@import 'bootstrap/component-animations';
@import 'bootstrap/dropdowns';
@import 'bootstrap/button-groups';
@import 'bootstrap/input-groups';
@import 'bootstrap/navs';
@import 'bootstrap/navbar';
@import 'bootstrap/breadcrumbs';
@import 'bootstrap/pagination';
@import 'bootstrap/pager';
@import 'bootstrap/labels';
@import 'bootstrap/badges';
@import 'bootstrap/jumbotron';
@import 'bootstrap/thumbnails';
@import 'bootstrap/alerts';
@import 'bootstrap/progress-bars';
@import 'bootstrap/media';
@import 'bootstrap/list-group';
@import 'bootstrap/panels';
@import 'bootstrap/responsive-embed';
@import 'bootstrap/wells';
@import 'bootstrap/close';

// Components w/ JavaScript
@import 'bootstrap/modals';
@import 'bootstrap/tooltip';
@import 'bootstrap/popovers';
@import 'bootstrap/carousel';

// Utility classes
@import 'bootstrap/utilities';
@import 'bootstrap/responsive-utilities';

* {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans';
}

body {
  background-color: $backgroundColor;
  touch-action: manipulation;
  min-width: 320px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Semibold';
}

.panel > .list-group:first-child .list-group-item:first-child {
  border-radius: 0;
}

.list-group-item {
  padding: 12px 20px;
}

.widget-sort-handle {
  touch-action: none;
}

.page-head {
  background: map-get($colors, darkgrey);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: map-get($zindex, header);
}

.page-content {
  height: calc(100% - 52px);
  padding-top: 52px;
  position: relative;
  z-index: map-get($zindex, main);

  > .row {
    height: 100%;
  }
}

.page-content-head {
  background: $backgroundColor;
  padding-bottom: 15px;
  padding-top: 20px;

  .navbar-nav {
    width: 100%;
  }

  h1,
  h2,
  h3 {
    line-height: 1;
    margin: 0;
  }
}

.page-content-main {
  background: $backgroundColor;
  min-height: calc(100% - 64px);
  padding: 0 0 (15px + 58px);
}

.page-side {
  background: $menuColor;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  height: 100% !important;
  height: calc(100% - 52px) !important;
  left: 0;
  overflow: auto;
  margin-top: 52px;
  position: fixed;
  top: 0;
  z-index: map-get($zindex, sidebar);

  @extend .hidden-xs;
}

.page-side-nav {
  &--active {
    background: map-get($colors, lightgrey);
    border-left: 3px solid map-get($colors, green);
  }
}

.page-foot {
  background: $backgroundColor;
  bottom: 0;
  font-size: 12px;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: map-get($zindex, footer);
}

.show {
  font-size: 0.8em;
}
a.showhelp {
  color: darken($brand-primary, 20%) !important;
  padding-right: 5px;
  cursor: pointer;
}

// format dashboard widget headers
.widgetdiv {
  .content-box-head {
    background: $white !important;
    color: #000 !important; //map-get($colors, darkgrey) !important;
    padding: 0;
    min-height: 25px !important;
    text-transform: uppercase;
    cursor: grab;

    h3 > u {
      text-decoration: none;
      color: $primaryColor;
      span:hover {
        color: darken($primaryColor, 10%);
      }
    }

    .btn-group {
      .btn {
        color: map-get($colors, darkgrey) !important;
        background: transparent !important;
        border: 0px;
        .glyphicon {
          color: map-get($colors, darkgrey) !important;
        }
        :hover {
          color: $primaryColor;
          .glyphicon {
            color: $primaryColor;
          }
        }
      }
    }
    .list-inline {
      li > h3 {
        padding-top: 4px;
      }
    }
  }
  .content-box-main {
    padding-top: 15px;
  }
}

.content-box {
  background: #fff;
  padding: 15px !important;
  border-radius: 4px;
  border: 1px solid #999;
  margin-top: 20px;

  // edge-case where there's a content box within a content box
  .content-box {
    padding: 0 !important;
    box-shadow: unset;
    border: 0px;
    margin-top: 0;
  }

  @extend .clearfix;

  &-head {
    @extend .page-content-head;
  }

  &-main {
    //background: map-get($colors, lightgrey);
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.tab-content {
  > .tab-content {
    margin-bottom: 0;
    padding: 0 15px;
  }

  .tab-content:last-child {
    margin-bottom: 0;
  }
}

.btn-logout {
  font-family: 'Open Sans Semibold';
  color: #fff;
  background-color: transparent;
  &:hover {
    color: darken($brand-primary, 20%);
  }
}
.brand-logo {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: inline-block;
  }
}

.brand-icon {
  display: inline-block;

  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.col-sm-disable-spacer {
  @media (min-width: $screen-sm-min) {
    padding-top: 0 !important;
  }
}

.col-md-disable-spacer {
  @media (min-width: $screen-md-min) {
    padding-top: 0 !important;
  }
}

.col-lg-disable-spacer {
  @media (min-width: $screen-lg-min) {
    padding-top: 0 !important;
  }
}

.page-login {
  background: #ddd;

  .container {
    min-height: 100%;
    margin-bottom: -60px;

    &:after {
      height: 60px;
    }
  }
}

.login-foot {
  font-size: 12px;
}

.login-modal {
  &-container {
    background: #fff;
    border: 1px solid map-get($colors, bordergrey);
    max-width: 400px;
    margin: 100px auto 15px auto;
  }

  &-head {
    background: map-get($colors, darkgrey);
    height: 75px;
    padding: 0 20px;
  }

  &-content {
    padding: 20px 20px 20px 20px;
  }

  &-foot {
    background: map-get($colors, lightgrey);
    border-top: 1px solid map-get($colors, bordergrey);
    height: 60px;
    padding: 20px 20px 0 20px;

    a {
      color: #7d7d7d;
      text-decoration: none;

      &:hover {
        color: darken(#7d7d7d, 10%);
        text-decoration: underline;
      }
    }
  }
}

.list-inline .btn-group-container {
  @media (min-width: $screen-sm-min) {
    float: right;
  }
}

.btn.btn-fixed {
  max-width: 174px;
  width: 100%;
}

.progress-bar-placeholder {
  font-size: 12px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

/* BOOTSTRAP EDIT */
a.list-group-item {
  font-family: 'Open Sans Semibold';
  border-left: none;
  border-right: none;
  background-color: $menuColor;

  &:hover,
  &:focus {
    color: $white;
    background-color: lighten($menuColor, 5%);
  }
  &.collapsed .caret {
    border-bottom: 4px solid map-get($colors, green);
    border-top: 0;
  }
}

#navigation.collapse.in {
  display: block !important;
}

.list-group-submenu .list-group-item:last-child,
.collapse .list-group-item:last-child {
  border-bottom: none;
}

.dropdown-menu > li > a,
.dropdown-header {
  padding: 3px 10px;
}

.nav {
  margin-bottom: -1px !important;
}

.nav-tabs {
  border-bottom: 0px;
  &.nav {
    .open > a,
    .open > a:focus,
    .open > a:hover {
      background-color: $white;
    }
  }
  > li {
    border-top: 3px solid $white;
    > a {
      border: 0;
      cursor: pointer;
      &:focus,
      &:hover {
        border: 0;
        background-color: $white;
      }
    }
    &:hover {
      border-top: 3px solid $primaryColor;
    }
    &.active {
      border-top: 3px solid $primaryColor;
      > a,
      > a:focus,
      > a:hover {
        font-family: 'Open Sans Bold';
        border: 0;
        background-color: $white;
      }
    }
  }
}

.btn .glyphicon {
  vertical-align: -1px;
}

.btn-default .glyphicon {
  color: #757575;
}

table {
  width: 100%;
}

.table {
  margin-bottom: 0px !important;
  tbody {
    background-color: #fff;
  }
}

.table th,
strong,
b {
  font-family: 'Open Sans Semibold';
  font-weight: normal;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
  border-top: 0;
}

.table > tbody > tr > td:last-child {
  padding-right: 15px;
}

/* helpers */
.__nowrap {
  white-space: nowrap;
}

.__nomb {
  margin-bottom: 0;
}

.__mb {
  margin-bottom: 15px;
}

.__mt {
  margin-top: 15px;
}

.__ml {
  margin-left: 15px;
}

.__mr {
  margin-right: 15px;
}

.__iconspacer {
  padding-right: 10px;
}

#mainmenu .glyphicon {
  vertical-align: -2px;
}

#menu_messages {
  font-family: 'Open Sans Semibold';
}

.list-group-item {
  overflow: hidden;
  text-overflow: ellipsis;

  + div.collapse {
    margin-bottom: -1px;
  }

  + div > a {
    padding-left: 44px;
  }

  &:before {
    background: $primaryColor;
    content: '';
    height: 42px;
    min-height: 100%;
    left: 0;
    position: absolute;
    top: 0px;
    width: 0;
  }
  &:focus:before,
  &:hover:before {
    background: $primaryColor !important;
    content: '';
    height: 42px;
    min-height: 100%;
    left: 0;
    position: absolute;
    top: 0px;
    width: 0;
  }
}

.list-group-submenu a {
  padding-left: 56px;
}

// adjustment since this div is off
div#content {
  padding: 0;
}

// temporary replace footer copyright text
footer {
  div.container-fluid a {
    visibility: hidden;
    display: none;
  }
}

footer {
  div.container-fluid:before {
    content: 'OPNids powered by CounterFlow AI & Deciso B.V.,';
  }
}

div.login-foot a {
  visibility: hidden;
  display: none;
}

div.login-foot:before {
  content: 'OPNids powered by CounterFlow AI & Deciso B.V.,';
}

.active-menu a,
.active-menu-title {
  text-decoration: none;
  position: relative;
  background-color: lighten($menuColor, 5%);

  &:before {
    width: 3px;
    background-color: transparent;
  }

  &:hover {
    background-color: lighten($menuColor, 15%);
    &:before {
      background-color: lighten($primaryColor, 15%) !important;
    }
  }

  &.active {
    background-color: lighten($menuColor, 15%);
    &:before,
    &:focus:before,
    &:hover:before {
      background-color: lighten($primaryColor, 15%);
    }
  }
}

.active-menu-title {
  &:before {
    background-color: $primaryColor;
  }
}

.navbar-brand {
  padding: 10px 20px;
}
.login-modal-container {
  .navbar-brand {
    padding: 10px 0px;
  }
}

.label-opnsense {
  /* emulates btn */
  border: 1px solid transparent;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.label-opnsense-sm {
  /* emulates btn-sm */
  padding: 5px 10px;
}

.label-opnsense-xs {
  /* emulates btn-xs */
  padding: 1px 5px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f7f7f7;
  box-shadow: 0px 0px 0px;
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border: thin solid #888;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.widgetdiv {
  padding-top: 0px !important;
  padding-bottom: 20px;

  // fix for the widgets because
  // the upper containers are editing styles via js
  .content-box-main {
    > div > table {
      margin-top: 10px;
    }
    > table {
      margin-top: 10px;
    }
  }
}

#menu_search_box,
.page-head form .input-group-addon {
  background-color: $white;
  border-color: transparent;
}
.page-head {
  input[type='text']:focus {
    box-shadow: unset;
  }
}

select {
  overflow: hidden;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(/ui/themes/opnids/build/images/caret.png) !important;
}

#grid-log th[data-column-id='__timestamp__'],
#filter-log-entries th[data-column-id='__timestamp__'] {
  min-width: 3.5em;
}

.table-responsive {
  @media screen and (max-width: $screen-xs-max) {
    margin-bottom: 0;
  }
}

.page-foot {
  display: none;
}
