<menu>
    <Dashboard order="10" url="/index.php" cssClass="fa fa-dashboard fa-fw" />
    <Interfaces order="20">
        <Wireless order="999" visibility="delete" />
        <PPP order="999" visibility="delete" />
        <Types order="999" visibility="delete" />
        <Diagnostics order="999" visibility="delete" />
    </Interfaces>
    <IDS VisibleName="Suricata IDS" cssClass="fa fa-shield fa-fw" order="30">
        <Administration url="/ui/ids" cssClass="fa fa-cog" />
        <Log VisibleName="Log File" url="/diag_logs_suricata.php" cssClass="fa fa-history" />
    </IDS>
    <MLE VisibleName="Dragonfly MLE" cssClass="cfai-ids-brain" order="40">
        <Administration url="/ui/mle" cssClass="fa fa-cog" />
        <Log VisibleName="Log File" url="/diag_logs_dragonflymle.php" cssClass="fa fa-history"/>
    </MLE>
    <Services order="50">
        <CaptivePortal order="999" visibility="delete" />
        <DHCPv4 order="999" visibility="delete" />
        <DHCPv6 order="999" visibility="delete" />
        <Dnsmasq order="999" visibility="delete" />
        <OpenDNS order="999" visibility="delete" />
        <Unbound order="999" visibility="delete" />
        <WebProxy order="999" visibility="delete" />
        <IDS order="999" visibility="delete" />
    </Services>
    <Reporting order="60">
        <NetFlow order="999" visibility="delete" />
        <Health order="999" visibility="delete" />
        <Insight order="999" visibility="delete" />
        <Traffic order="1" />
        <Settings order="2" />
    </Reporting>
    <System order="70">
        <Access VisibleName="Access Management"/>
        <HighAvailability order="999" visibility="delete" />
        <Routes order="999" visibility="delete" />
        <Gateways order="999" visibility="delete" />
        <Wizard order="999" visibility="delete"/>
        <Settings order="999" visibility="delete"/>
    </System>
    <Settings order="80" cssClass="fa fa-cogs">
        <Notifications order="999" visibility="delete" />
        <Administration url="/system_advanced_admin.php" cssClass="fa fa-cog"/>
        <General url="/system_general.php" cssClass="fa fa-cog">
            <Edit url="/system_general.php*" visibility="hidden"/>
        </General>
        <Logging url="/diag_logs_settings.php" cssClass="fa fa-history"/>
        <Miscellaneous url="/system_advanced_misc.php" cssClass="fa fa-cog"/>
        <Password url="/system_usermanager_passwordmg.php" cssClass="fa fa-key">
            <Edit url="/system_usermanager_passwordmg.php*" visibility="hidden" />
        </Password>
        <Tunables url="/system_advanced_sysctl.php" cssClass="fa fa-table">
            <Edit url="/system_advanced_sysctl.php*" visibility="hidden"/>
        </Tunables>
    </Settings>
    <Power order="90" />
    <Lobby order="999" visibility="delete" />
    <VPN order="999" visibility="delete" />
    <Firewall order="999" visibility="delete" />
    <Help order="999" visibility="delete" />

</menu>
