<menu>
    <Dashboard order="10" url="/index.php" cssClass="fa fa-dashboard fa-fw" />
    <Lobby Visibility="delete" />
    <Reporting order="11">
        <Settings url="/reporting_settings.php" cssClass="fa fa-cog fa-fw" order="2" />
        <NetFlow Visibility="delete" />
        <Health Visibility="delete" />
        <Insight Visibility="delete" />
    </Reporting>
    <System order="12">
        <HighAvailability Visibility="delete" />
        <Routes Visibility="delete" />
        <Gateways Visibility="delete" />
        <Settings order="20" cssClass="fa fa-cogs fa-fw">
            <Notifications Visibility="delete" />
            <Password order="2" url="/system_usermanager_passwordmg.php" cssClass="fa fa-key fa-fw">
                <Edit url="/system_usermanager_passwordmg.php*" visibility="hidden" />
            </Password>
        </Settings>
        <Wizard Visibility="delete"/>
    </System>
    <Interfaces order="13">
        <Assignments order="900" url="/interfaces_assign.php" cssClass="fa fa-pencil fa-fw" />
        <Overview order="910" url="/status_interfaces.php" cssClass="fa fa-tasks fa-fw" />
        <Settings order="920" url="/system_advanced_network.php" cssClass="fa fa-cogs fa-fw" />
        <Wireless Visibility="delete" />
        <PPP Visibility="delete" />
        <Types Visibility="delete" />
        <Diagnostics Visibility="delete" />
    </Interfaces>
    <IDS VisibleName="Intrusion Detection" cssClass="fa fa-shield fa-fw" order="14">
        <Administration url="/ui/ids" />
        <Log VisibleName="Log File" url="/diag_logs_suricata.php" />
    </IDS>
    <MLE VisibleName="Machine Learning Engine" cssClass="cfai-ids-cfai" order="15" url="/ui/mle" />
    <Firewall Visibility="delete" />
    <Services order="16">
        <CaptivePortal Visibility="delete" />
        <DHCPv4 Visibility="delete" />
        <DHCPv6 Visibility="delete" />
        <Dnsmasq Visibility="delete" />
        <OpenDNS Visibility="delete" />
        <Unbound Visibility="delete" />
        <WebProxy Visibility="delete" />
        <IDS Visibility="delete" />
    </Services>
    <VPN Visibility="delete" />
    <Help Visibility="delete" />
</menu>
