<menu>
  <Dashboard order="10" url="/index.php" cssClass="fa fa-dashboard fa-fw" />
  <Interfaces order="20" cssClass="fa fa-sitemap fa-fw">
    <Overview order="0" url="/status_interfaces.php" cssClass="fa fa-tasks fa-fw"/>
    <Assignments order="1" url="/interfaces_assign.php" cssClass="fa fa-pencil fa-fw"/>
    <Settings order="2" url="/system_advanced_network.php" cssClass="fa fa-cogs fa-fw"/>
    <Diagnostics order="3" VisibleName="Network Tools" cssClass="fa fa-medkit fa-fw">
      <DNSLookup VisibleName="DNS Lookup" url="/diag_dns.php">
        <Edit url="/diag_dns.php*" visibility="hidden"/>
      </DNSLookup>
      <PacketCapture VisibleName="Packet Capture" url="/diag_packet_capture.php"/>
      <Ping url="/diag_ping.php"/>
      <TestPort VisibleName="Port Probe" url="/diag_testport.php"/>
      <Traceroute VisibleName="Trace Route" url="/diag_traceroute.php"/>
    </Diagnostics>
  </Interfaces>
  <IDS order="30" VisibleName="Intrusion" cssClass="fa fa-shield fa-fw">
    <Administration url="/ui/ids" cssClass="fa fa-cog fa-fw" />
    <Log VisibleName="Log File" cssClass="fa fa-eye fa-fw" url="/diag_logs_suricata.php" />
  </IDS>
  <Reports order="60" cssClass="fa fa-area-chart fa-fw">
    <Traffic order="0" url="/status_graph.php" cssClass="fa fa-line-chart fa-fw"/>
    <Settings order="1" url="/reporting_settings.php" cssClass="fa fa-cog fa-fw"/>
  </Reports>
  <System order="70" cssClass="fa fa-server fa-fw">
    <Access order="0" cssClass="fa fa-users fa-fw">
      <Users order="0" url="/system_usermanager.php">
        <All url="/system_usermanager.php*" visibility="hidden"/>
        <Privileges url="/system_usermanager_addprivs.php?user*" visibility="hidden"/>
      </Users>
      <Groups order="1" url="/system_groupmanager.php">
        <All url="/system_groupmanager.php*" visibility="hidden"/>
        <Privileges url="/system_usermanager_addprivs.php?group*" visibility="hidden"/>
      </Groups>
      <Servers order="2" url="/system_authservers.php">
        <Edit url="/system_authservers.php*" visibility="hidden"/>
      </Servers>
      <Tester order="3" url="/diag_authentication.php"/>
    </Access>
    <Services order="1" url="/status_services.php" cssClass="fa fa-rocket fa-fw">
      <All url="/status_services.php?*" visibility="hidden"/>
    </Services>
    <Firmware order="2" cssClass="fa fa-building-o fa-fw">
      <Plugins order="0" url="/ui/core/firmware#plugins"/>
      <LogFile order="1" VisibleName="Log File" url="/diag_logs_pkg.php"/>
    </Firmware>
    <Trust order="3" cssClass="fa fa-certificate fa-fw">
      <Authorities url="/system_camanager.php">
        <Edit url="/system_camanager.php*" visibility="hidden"/>
      </Authorities>
      <Certificates url="/system_certmanager.php">
        <Edit url="/system_certmanager.php*" visibility="hidden"/>
      </Certificates>
      <Revocation url="/system_crlmanager.php">
        <Edit url="/system_crlmanager.php*" visibility="hidden"/>
      </Revocation>
    </Trust>
    <Configuration order="4" cssClass="fa fa-history fa-fw">
      <History order="0" url="/diag_confbak.php">
        <none url="/diag_confbak.php*" visibility="hidden"/>
      </History>
      <Reset order="1" url="/diag_defaults.php"/>
      <Backups order="2" url="/diag_backup.php"/>
    </Configuration>
    <Logs order="5" VisibleName="Logs" cssClass="fa fa-eye fa-fw">
      <Backend url="/configd_logs.php"/>
      <General url="/diag_logs.php"/>
      <WebServer VisibleName="Web Server" url="/httpd_logs.php"/>
    </Logs>
  </System>
  <Settings order ="80" cssClass="fa fa-cog fa-fw">
    <Administration order="0" cssClass="fa fa-cog fa-fw" url="/system_advanced_admin.php"/>
    <General order="1" cssClass="fa fa-cog fa-fw" url="/system_general.php">
      <Edit url="/system_general.php*" visibility="hidden"/>
    </General>
    <Logging order="2" cssClass="fa fa-cog fa-fw" url="/diag_logs_settings.php"/>
    <Miscellaneous order="3" cssClass="fa fa-cog fa-fw" url="/system_advanced_misc.php"/>
    <Password order="4" cssClass="fa fa-key fa-fw" url="/system_usermanager_passwordmg.php">
      <Edit url="/system_usermanager_passwordmg.php*" visibility="hidden"/>
    </Password>
    <Tunables order="5" cssClass="fa fa-cog fa-fw" url="/system_advanced_sysctl.php">
      <Edit url="/system_advanced_sysctl.php*" visibility="hidden"/>
    </Tunables>
  </Settings>
  <Power order="90" cssClass="fa fa-plug fa-fw">
    <Logout order="0" url="/index.php?logout" cssClass="fa fa-sign-out fa-fw"/>
    <Reboot order="1" url="/ui/core/reboot" cssClass="fa fa-repeat fa-fw"/>
    <PowerOff order="2" VisibleName="Power Off" url="/ui/core/halt" cssClass="fa fa-power-off fa-fw"/>
  </Power>
  <Help order="100" cssClass="fa fa-support fa-fw">
    <License order="0" url="/ui/core/license" cssClass="fa fa-balance-scale fa-fw"/>
    <Documentation order="1" url="https://docs.opnids.io/" cssClass="fa fa-book fa-fw" IsExternal="Y"/>
    <Forum order="2" VisibleName="User Forum" url="https://discourse.opnids.io/" cssClass="fa fa-ticket fa-fw" IsExternal="Y"/>
    <Reporter order="3" VisibleName="Report Issue" cssClass="fa fa-bug fa-fw" url="/crash_reporter.php"/>
  </Help>
</menu>